@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  width: 100%;
  min-height: 100vh;
}
* {
  -webkit-overflow-scrolling: touch;
}
/* Esconde a barra de scroll, mas mantém o scroll ativo */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Android WebView */
}

